# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# exclude .env
# this is excluded because the environment is different in deployment and development
# use the correct environment by creating a symlink, eg. `ln -s .env-dev .env`
.env

# python scaffolding
__pycache__/
.eggs/
build/
dist/
*.egg-info/
*.egg/

# pytest scaffolding
pytestdebug.log

# docs
docs/*.pdf
docs/*.docx

# ignore airflow scaffolding
airflow/*
!airflow/dags

# editor
.vscode/